@font-face {
  font-family: 'Bariol-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol-Regular'), url('Bariol.woff') format('woff');
}

body, html {
  height: 100%;
}

body {
  text-align: center;
  color: #fff;
  background: #063755;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

p {
  margin: 0 auto;
  text-align: center;
  color: white;
}
h1 {
  font-size: 40px;
  margin-bottom: 0;
  font-family: 'Bungee', serif;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
  margin-bottom: 0;
}

p {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: #e0bf36;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content:space-between;
  justify-content: space-between;
  height: 100%;
  font-family: 'Bariol-Regular', serif;
  /* text-transform: uppercase; */
}
.logo {
  max-width: 100%;
}
.social-media {
  margin: 15px;
}

.social-media p {
  display: inline-block;
  vertical-align: middle;
}

.social-media-logo {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
